  body{ 
    text-align:center;
    font-family:Open Sans,sans-serif;
    background-color: mediumslateblue;
    color: white;
    margin: 0px 0px 30px 0px;
  }
  
  h1{
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    color: orange;
    }
  
  h2{
    color:#7d57be;
    font-size: 10px;
  }
  
  .titulo-verde{
    color: blue;
    font-size: 22px;
    font-style: italic;
  }
  
  .titulo-vermelho{
    color: sandybrown;
    font-size: 22px;
    font-style: italic;
  }
  
  .titulo-amarelo{
    color:sandybrown;
    font-size: 22px;
    font-style: italic;
    }
  
  .titulo-roxo{
  color: sandybrown;
  font-size: 22px;
  font-style: italic;
  }  

  section{
    width: 60%;
    margin: 0 auto;
  }
  
  section section{
    width: 100%;
  }
  
  p{
    font-size: 15px;
    line-height: 1,5;
    text-align: justify;
  }
  
  img{
    max-width: 50%;
             
  } 

 IMG.displayed {
  max-width: 18%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-image:auto;
 }
  
  ul.nav { 
   
    margin:0 auto; 
    padding:0  0.2em 0.2em  0;
    width: 80%;
  }    
    
  ul.nav li {
    list-style:none;	
    display: inline;
        
   }

  .mais li a{
    text-align: right;
    color: blue;
    display: flex;
    text-decoration: none;
    list-style-type: none;
  }

  ul.nav li a {
    border: 1px solid purple;
    width:6.0em;
    font-weight: 0.68em  Verdana, Arial, Helvetica, 
    sans-serif;
    color: bisque;
    text-align: center;
    padding:0  0.2em 0.2em  0;
    text-decoration: none;
  }

    ul.nav a:hover{
    background: palevioletred;
    color: beige;
    border-color:#00f;
    }

  .principal logo {
    width: 40%;
    margin: 0;
    color: purple;
  }
  
  h4 {
    text-align: center;
    color: black;
  }

  #outras{
  text-align: left;
  }

  h5{
    color: black;
  }
  
  .rodape-prin{
        background-color: pink;       
        clear: both;
        padding: 28px;         
        color: rgb(250,255,250);
        font-size: 15px;
        font-family: "arial", sans-serif;
          
    }

.minhas p{
  text-align: center;
  color:  black;
}
    .icones-sociais li {
        display: inline-block;
        width: 120px;
        height: 40%;
        align-items: center;
    }

  .principal{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: b;
    align-items: center;
    margin-top: none;
  }
  .principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0;
  }

  .container {
    margin: auto;
    max-width: 450px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
      
    padding-right: 35px;
    background-color: lightblue;
    color: #fff;
    font-family: arial;
    font-size: 15px;
  } 

  .container ul li{
    list-style-type: none;
  }

  .news__title {
    color: white;
    top: -130px;
  }
  .news__label {
    display: block;
    color: #ffffff;
  }
  
  .news__input {
    width: 20%;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin: auto;
    height: 10px;
    padding: 10px;
    font-size: 15px;
    color: yellow;
  }
  
  .mensagem {
    color: goldenrod;
  }
  
  /* .news__button {
    background-color: #ecddf3;
    color: #000000;
    border-radius: 50px;
    border: 0;
    padding: 10px 20px;
    width: auto;
    position: absolute;
    bottom: -50px;
    font-weight: bold;
    left: 50%;
    margin-left: -65px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
  } */
  
  .news__button:hover {
    background-color: #053c55;
    width: auto;
    padding: 2px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;

    
  }

  /* button{
   background: white;
   border: 1px solid transparent;
   padding: 2px 20px;
   border-radius: 3px;
  } */
  
  



